.main-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   }
   .container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 350px;
    margin: 20px;
    text-align: center;
    font-family: arial;
    padding: 20px;
    border: solid  rgb(206, 194, 194); 
   }
   .container:hover{
    border: none;
    box-shadow: 0 0 4px 2px gray;
    transition: 1s;
}
    .heading1{
      text-align: center;
    }
   
     .price{
   color:black;
   font-size: 20px;
   padding:0px;
   margin-top: 5px;
    }
       .btn{
   border-color: green;
    border-radius: 50px;
    outline: 0;
    padding: 12px;
    color:green;
    background-color: #8bed8e;
    text-align: center;
    cursor: pointer;
   font-size: 18px;
  }
  
  .name{
    padding: 10px;
    margin: 0px;
    font-size: 20px;
   
    }
    .img{
       height: 200px;
       width: 250px;
    }
    .main-container{
     display:flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
    }
    .tree{
      height: 70px;
      width: 50px;
      justify-items: center;
     margin:0px 40px;
    
    }
    .back{
      text-align: left;
     color: green;
     margin: 0px 40px;
      
    }

    footer {
      text-align: center;
      padding: 5px 10px;
      background-color: #333;
      color: white;
      width: 100%;
  }
  
  footer {
      font-size: 18px;
      margin: 5px 0;
  }
  
  footer .social-icons a {
      color: white;
      margin: 0 10px;
      font-size: 20px;
      text-decoration: none;
  }
  .footer_tag{
      color: white;
  }
  
  footer .social-icons a:hover {
      color: red;
      box-shadow: 0cm;
  }
  

      
    

