.main-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   }
   .container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 350px;
    margin: 20px;
    text-align: center;
    font-family: arial;
    padding: 20px;
    border: solid  rgb(206, 194, 194); 
   }
    .heading1{
      text-align: center;
    }
   
     .price{
   color:black;
   font-size: 20px;
   padding:0px;
   margin-top: 5px;
    }
       .btn{
   border-color: green;
    border-radius: 50px;
    outline: 0;
    padding: 12px;
    color:green;
    background-color: #8bed8e;
    text-align: center;
    cursor: pointer;
   font-size: 18px;
  }
  
  .name{
    padding: 10px;
    margin: 0px;
    font-size: 20px;
   
    }
    .img{
       height: 200px;
       width: 250px;
    }
    .main-container{
     display:flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
    }
    .tree{
      height: 70px;
      width: 50px;
      justify-items: center;
      margin: 20px;
      padding:0 700px;
    }
    

    /*footer */
    footer{
            background-color: #2b7a4b;
            color: white;
            padding: 20px 0;
            text-align: center;
        }

        footer a {
            color: white;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        footer a:hover {
            color: #ff6f61;
        }

        footer ul {
            list-style: none;
            padding: 10px;
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    
    




