.titlee{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #1a5d1e;
    font-size: 41px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.type-containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align:center;
 }

.type5{
    width: 280px;
    border-style: solid;
    border-color: #333;
    border-width: 2px;
    margin: 5px;
    border-radius: 10px;
}
.type2{
    height: 310px; 
    width: 264px;
}

.names{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 800;
    color: #1a5d1e;
    margin-bottom: 4px;
}
.addition{
    font-size: 20px;
    color: #1a5d1e;
}

.type5:hover{
    border: none;
    box-shadow: 0 0 8px 6px gray;
    transition: 0.5;
}
.rupees{
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 23px;
    margin-bottom: 3px;
}
.buy-button{
    color:black;
    background-color: #4caf50;
    font-size: 22px;
    border-radius: 10px;
    padding: 10px;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    margin-bottom: 40px;
}
.buy-button:hover{
    border: none;
    box-shadow: 0 0 8px 6px gray;
    background-color: aliceblue;
    transition: 0.5;
}
.back-button{
    height: 50px;
    width: 130px;
    position: fixed;
    top: 25px;
    right: 60px;
    color: black;
    background-color: #75d378;
    font-size:28px;
    border-radius: 9px;
    font-family:Georgia, 'Times New Roman', Times, serif;
   font-weight: 600;
    border-color: #333;
    border-width: 3px;
}
.back-button:hover{
    border: none;
    box-shadow: 0 0 8px 6px gray;
    background-color: aliceblue;
    transition: 0.5;
}
.home-button{
    height: 50px;
    width: 130px;
    position: fixed;
    top: 25px;
    left: 60px;
    color: black;
    background-color: #75d378;
    font-size:28px;
    border-radius: 9px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    border-color: #333;
    border-width: 3px;
    font-weight: 600;
}
.home-button:hover{
    border: none;
    box-shadow: 0 0 8px 6px gray;
    background-color: aliceblue;
    transition: 0.5;
}
.iconn{
    border-radius: 40px;
    height: 20px;
}
.footer {
    text-align: center;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    width: 100%;
}

.footer {
    font-size: 18px;
    margin-top: 0px;
}

.footer .social-icons a {
    color: rgb(15, 2, 2);
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}
.footer_tag{
    color:rgb(12, 2, 2);
    text-align: center;
    background-color:white; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.footer .social-icons a:hover {
    color: red;
    box-shadow: 0cm;
}
.footer {
    background-color: #3a9e67;
    padding: 20px 0;
    text-align: center;
    color: white;
    margin-top: 40px;
}

.footer a {
    color: #fff;
    text-decoration: underline;
    margin: 0 10px;
    transition: color 0.3s;
}

footer a:hover {
    color: #ffd700;
}
.social-icons{
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}
.iconn{
    height: 47px;
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 6px;
    
}
.iconn:hover{
    border: none;
    box-shadow: 0 0 8px 6px gray;
    background-color: aliceblue;
    transition: 0.5;
    height: 70px;
 
}


