.{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  background-image: url(../images/signup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:90vh;
}
.container{
  width: 350px;
  display:flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
}
span{
  color:#fff;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}
header{
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}
.input-field{
  display:flex;
  flex-direction: column;
}