body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  background-image:url(../images/login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:90vh;
}
.container{
  width: 350px;
  display:flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
}
span{
  color:#fff;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}
header{
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}
.input-field{
  display:flex;
  flex-direction: column;
}
.input{
  height: 45px;
  width: 87%;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #fff;
  padding: 0 0 0 42px;
  background-color: rgba(255,255,255,0.2);
}
i{
  position: relative;
  top:-31px;
  left:17px;
  color:#fff;
}
::-webkit-input-placeholder{
  color: #fff;
}
.submit{
  border: none;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  outline: none;
  width: 100%;
  background:rgba(255,255,255,0.7) ;
  cursor:pointer ;
  transition: .3s;
}
.sub:hover{
  box-shadow:1px 5px 7px 1px rgba(0,0,0,0.2)  ;
}
.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  color: #fff;
  margin-top: 10px;
}
.left{
  display: flex;
}
label a{
  color: #fff;
  text-decoration: none;
}
footer {
  text-align: center;
  padding: 5px 10px;
  background-color: #333;
  color: white;
  width: 100%;
}

footer {
  font-size: 18px;
  margin: 5px 0;
}

footer .social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 20px;
  text-decoration: none;
}
.footer_tag{
  color: white;
}

footer .social-icons a:hover {
  color: red;
  box-shadow: 0cm;
}
footer {
  background-color: #3a9e67;
  padding: 20px 0;
  text-align: center;
  color: white;
  margin-top: 40px;
}

footer a {
  color: #fff;
  text-decoration: underline;
  margin: 0 10px;
  transition: color 0.3s;
}

footer a:hover {
  color: #ffd700;
}
